h1{
    color: #000000;
}
h1 span{
    color: #2988E0;
}

/* 

id # debe ser unico
class (.) van con punto se pueden 
repetir se pueden usar varias en una etiqueta

*/

#navegacion{
    background-color: aqua;
}

.navegacion-categorias{
    background-color: brown;
}